.zoom-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;

  --t: 0;
--max-scale: 30;
}

/* ========================= */
/* BASE */
/* ========================= */

.zoom-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

/* ========================= */
/* 🟢 CURRENT (zoom real) */
/* ========================= */
.zoom-slide.current {
  z-index: 1;

  transform-origin: calc(var(--fx) * 1%) calc(var(--fy) * 1%);

  --e: var(--t);

  --s: calc(1 + (var(--max-scale) - 1) * var(--e));

  transform: scale(var(--s));
}

/* ========================= */
/* 🔵 NEXT (sincronizada PERFECTA) */
/* ========================= */

.zoom-slide.next {
  z-index: 2;

  transform-origin: calc(var(--fx) * 1%) calc(var(--fy) * 1%);

  --e: var(--t);

  --s: calc(1 + (var(--max-scale) - 1) * var(--e));

  /*
    🔥 ESTE NÚMERO ES EL QUE VAS A AJUSTAR
  */
  --k: 30;

  transform: scale(calc(var(--s) / var(--k)));

  opacity: 1;
}