.zoom-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;

  --t: 0;
--max-scale: 30;
}

/* ========================= */
/* BASE */
/* ========================= */

.zoom-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

/* ========================= */
/* 🟢 CURRENT (zoom real) */
/* ========================= */
.zoom-slide.current {
  z-index: 1;

  transform-origin: calc(var(--fx) * 1%) calc(var(--fy) * 1%);

  --e: var(--t);

  /*
    🔥 MÁS RÁPIDO
    antes: 3.4
  */
  --s: calc(exp(var(--e) * 4.5));

  transform: scale(var(--s));
}

/* ========================= */
/* 🔵 NEXT (sincronizada PERFECTA) */
/* ========================= */
.zoom-slide.next {
  z-index: 2;

  transform-origin: calc(var(--fx) * 1%) calc(var(--fy) * 1%);

  --e: var(--t);

  --s: calc(exp(var(--e) * 3.4));

  /*
    🔥 NORMALIZACIÓN PERFECTA
  */
  transform: scale(
    calc((var(--s) - 1) / (var(--max-scale) - 1))
  );

  opacity: 1;
}