/* customcalendar.css */
.custom-calendar .react-calendar__tile {
    position: relative;
    height: 100px; /* Ajusta la altura según tus necesidades */
    overflow-y: hidden;
  }
  
  .custom-calendar .react-calendar__tile:hover {
    overflow-y: auto;
  }
  
  .event-container {
    max-height: 100px; /* Ajusta la altura según tus necesidades */
    overflow-y: auto;
  }
  
  .event-box {
    background-color: #ccc;
    color: white;
    padding: 4px;
    margin: 2px 0;
    cursor: pointer;
    word-wrap: break-word; /* Asegura que el texto largo se ajuste */
  }

.custom-calendar .react-calendar__tile--now {
    background-color: #ffe4e1;
    border: 2px solid #ff69b4;
    color: #ff69b4;
}

.custom-calendar .react-calendar__tile--active {
    background-color: #ffb6c1;
    border: 2px solid #ff69b4;
    color: #ffffff;
}

.custom-calendar .react-calendar__tile--active:enabled:hover,
.custom-calendar .react-calendar__tile--active:enabled:focus {
    background-color: #ff69b4;
}

.birthday-icon {
    color: #ff4500;
    font-size: 1.5em;
    text-align: center;
}
